@page "/MyEvents"
@using PresentationTier.Data
@using PresentationTier.Models
@using PresentationTier.Authentication
@using System.Security.Claims
@using PresentationTier.Data.EventServices
@using PresentationTier.Data.EventServices.EventOrganizers
@using PresentationTier.Data.EventServices.Organizers
@using PresentationTier.Data.EventServices.Participants

@inject AuthenticationStateProvider stateProvider
@inject NavigationManager navigationManager
@inject IEventOrganizerService eventOrganizerService
@inject IOrganizerService organizerService
@inject IParticipantService participantService

<h2>My Events</h2>

<AuthorizeView Policy="Organizer">
    <p class="actions">
        <button @onclick="@CreateEvent" class="button simple-button" type="submit"><i class="oi oi-plus"></i> Create</button>
    </p>
    
    <h3>Organizer Events</h3>
    @if (organizersEventList != null)
    {
        <div class="card-deck">
            @foreach (var item in organizersEventList)
            {
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        <div class="card h-100" @onclick="@(() => NavigateToEvent(item.Id))" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @if (item.EndTime.Subtract(item.StartTime).TotalMinutes < 0)
                                {
                                    <p class="card-text">Time: @item.StartTime.ToString("f")</p>
                                }
                                else
                                {
                                    <p class="card-text">Time: @item.StartTime.ToString("f") - @item.EndTime.ToString("t")</p>
                                }
                                @if (item.AddressApartmentNumber != null)
                                {
                                    <p class="card-text">@item.AddressStreetName @item.AddressStreetNumber, @item.AddressApartmentNumber</p>
                                }
                                else
                                {
                                    <p class="card-text">@item.AddressStreetName @item.AddressStreetNumber</p>
                                }
                            </div>
                            @*<div class="card-footer text-center">
                                <button class="simple-button" @onclick="@(() => NavigateToEvent(item.Id))">
                                    More
                                </button>
                            </div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p><i>You are not organizing any events.</i></p>
    }
    
    <h3>Co-organizer Events</h3>
    @if (coOrganizersEventList != null)
    {
        <div class="card-deck">
            @foreach (var item in coOrganizersEventList)
            {
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        <div class="card h-100" @onclick="@(() => NavigateToEvent(item.Id))" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @if (item.EndTime.Subtract(item.StartTime).TotalMinutes < 0)
                                {
                                    <p class="card-text">Time: @item.StartTime.ToString("f")</p>
                                }
                                else
                                {
                                    <p class="card-text">Time: @item.StartTime.ToString("f") - @item.EndTime.ToString("t")</p>
                                }
                                @if (item.AddressApartmentNumber != null)
                                {
                                    <p class="card-text">@item.AddressStreetName @item.AddressStreetNumber, @item.AddressApartmentNumber</p>
                                }
                                else
                                {
                                    <p class="card-text">@item.AddressStreetName @item.AddressStreetNumber</p>
                                }
                            </div>
                            @*<div class="card-footer text-center">
                                <button class="simple-button" @onclick="@(() => NavigateToEvent(item.Id))">
                                    More
                                </button>
                            </div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p><i>You are not co-organizing any events.</i></p>
    }
</AuthorizeView>

<h3>Participant Events</h3>
    @if (participantsEventList != null)
        {
            <div class="card-deck">
                @foreach (var item in participantsEventList)
                {
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col mb-4">
                            <div class="card h-100" @onclick="@(() => NavigateToEvent(item.Id))" style="width: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    @if (item.EndTime.Subtract(item.StartTime).TotalMinutes < 0)
                                    {
                                        <p class="card-text">Time: @item.StartTime.ToString("f")</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">Time: @item.StartTime.ToString("f") - @item.EndTime.ToString("t")</p>
                                    }
                                    @if (item.AddressApartmentNumber != null)
                                    {
                                        <p class="card-text">@item.AddressStreetName @item.AddressStreetNumber, @item.AddressApartmentNumber</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@item.AddressStreetName @item.AddressStreetNumber</p>
                                    }
                                </div>
                                @*<div class="card-footer text-center">
                                    <button class="simple-button" @onclick="@(() => NavigateToEvent(item.Id))">
                                        More
                                    </button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p><i>You are not participating in any events.</i></p>
        }

@code {
    private EventList organizersEvents = new();
    private Event[] organizersEventList = {};
    private EventList coOrganizersEvents = new();
    private Event[] coOrganizersEventList = {};
    private EventList participantsEvents = new();
    private Event[] participantsEventList = {};
    private string username;

    protected override async Task OnInitializedAsync()
    {
        username = ((CustomAuthenticationStateProvider) stateProvider).GetAuthenticationStateAsync().Result.User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name))?.Value;
        organizersEvents = await eventOrganizerService.GetOrganizerEventsAsync(username);
        organizersEventList = organizersEvents.ListOfEvents;
        coOrganizersEvents = await organizerService.GetCoOrganizerEventsAsync(username);
        coOrganizersEventList = coOrganizersEvents.ListOfEvents;
        participantsEvents = await participantService.GetParticipantEventsAsync(username);
        participantsEventList = participantsEvents.ListOfEvents;
    }

    private void CreateEvent()
    {
        navigationManager.NavigateTo("CreateEvent");
    }

    private void NavigateToEvent(int id)
    {
        navigationManager.NavigateTo($"EventInfo/{id}");
    }
}