@page "/CreateEvent"

@using Presentation_Layer.Data
@using Presentation_Layer.Models
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using ExpressiveAnnotations.Attributes
@using Presentation_Layer.Authentication

@attribute [Authorize(Policy = "Organizer")]

@inject IEventService EventService
@inject ICategoryService CategoryService;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth

<h3>Create Event</h3>
<EditForm Model="@newEvent" OnValidSubmit="@CreateEventAsync">
    <DataAnnotationsValidator/>
    <div class="form-group">
        Name:<br/>
        <InputText @bind-Value="newEvent.Name"/>
        <ValidationMessage For="@(() => newEvent.Name)"/>
    </div>
    <div class="form-group">
        Date: <br/>
        <InputDate @bind-Value="newEvent.Date">
            <ValidationMessage For="@(() => newEvent.Date)"/>
        </InputDate>
    </div>
    <div class="form-group">
        Start Time: <br/>
        <input type="time" required @bind-value="@newEvent.TimeStart"/>
        <ValidationMessage For="@(() => newEvent.TimeStart)"/>
    </div>
    <div class="form-group" aria-hidden="True">
        End Time:<br/>
        <input type="time" required @bind-value="@newEvent.TimeEnd">
        <ValidationMessage For="@(() => newEvent.TimeStart)"/>
    </div>
    <div class="form-group">
        Address Street Name:<br/>
        <InputText @bind-Value="newEvent.AddressStreetName"/>
        <ValidationMessage For="@(() => newEvent.AddressStreetName)"/>
    </div>
    <div class="form-group">
        Address Street Number:<br/>
        <InputText @bind-Value="newEvent.AddressStreetNumber"/>
        <ValidationMessage For="@(() => newEvent.AddressStreetNumber)"/>
    </div>
    <div class="form-group">
        Address Apartment Number:<br/>
        <InputText @bind-Value="newEvent.AddressApartmentNumber"/>
    </div>
    <div class="form-group">
        Max number of participants:<br/>
        <InputNumber @bind-Value="newEvent.MaxNumberOfParticipants" style="width: 75px"/>
        <ValidationMessage For="@(() => newEvent.MaxNumberOfParticipants)"/>
    </div>
    <div class="form-group">
        Event category:<br/>
        <InputSelect @bind-Value="newEvent.EventCategory">
            <option value="0">Select category</option>
            @foreach (var category in categories)
            {
                <option value=@category.Id>@category.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => newEvent.EventCategory)"/>
    </div>

    <p class="actions">
        <button class="btn btn-outline-success" type="submit">Create</button>
    </p>

</EditForm>


@code {
    private Event newEvent = new();
    private DateTime dateTime;
    private IList<Category> categories = new List<Category>();
    
    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetCategoriesAsync();
    }

    private async Task CreateEventAsync()
    {
        var newEventOrganizer = ((CustomAuthenticationStateProvider) Auth).GetAuthenticationStateAsync().Result.User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name))?.Value;
        if (newEventOrganizer != null) newEvent.Organizer = newEventOrganizer;
        
        newEvent.StartTime = newEvent.Date.Add(newEvent.TimeStart.TimeOfDay);
        newEvent.EndTime = newEvent.Date.Add(newEvent.TimeEnd.TimeOfDay);
        await EventService.CreateEvent(newEvent);
        await JSRuntime.InvokeVoidAsync("alert", "Successfully created an event");
        NavigationManager.NavigateTo("MyEvents");
    }

}