@page "/CreateEvent"

@using Presentation_Layer.Data
@using Presentation_Layer.Models
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using ExpressiveAnnotations.Attributes
@using Presentation_Layer.Authentication

@attribute [Authorize(Policy = "Organizer")]

@inject IEventService eventService
@inject ICategoryService categoryService;
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider auth

<h3>Create Event</h3>
<EditForm Model="@newEvent" OnValidSubmit="@CreateEventAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        Name:<br/>
        <InputText @bind-Value="newEvent.Name"/>
    </div>
    <div class="form-group">
        Date: <br/>
        <InputDate @bind-Value="newEvent.Date"/>
    </div>
    <div class="form-group">
        Start Time: <br/>
        <input type="time" required @bind-value="@newEvent.Start"/>
    </div>
    <div class="form-group" aria-disabled="true">
        End Time:<br/>
        <input type="time" required @bind-value="@newEvent.End">
    </div>
    <div class="form-group">
        Address Street Name:<br/>
        <InputText @bind-Value="newEvent.AddressStreetName"/>
    </div>
    <div class="form-group">
        Address Street Number:<br/>
        <InputText @bind-Value="newEvent.AddressStreetNumber"/>
    </div>
    <div class="form-group">
        Address Apartment Number:<br/>
        <InputText @bind-Value="newEvent.AddressApartmentNumber"/>
    </div>
    <div class="form-group">
        Max number of participants:<br/>
        <InputNumber @bind-Value="newEvent.MaxNumberOfParticipants" style="width: 75px"/>
    </div>
    <div class="form-group">
        Event category:<br/>
        <InputSelect @bind-Value="newEvent.EventCategory">
            <option value="0">Select category</option>
            @foreach (var category in categories)
            {
                <option value=@category.Id>@category.Name</option>
            }
        </InputSelect>
    </div>

    <p class="actions">
        <button class="btn btn-outline-success" type="submit">Create</button>
    </p>

</EditForm>


@code {
    private Event newEvent = new();
    private IList<Category> categories = new List<Category>();
    
    protected override async Task OnInitializedAsync()
    {
        newEvent.Date = DateTime.Today;
        newEvent.End = DateTime.Today;
        categories = await categoryService.GetCategoriesAsync();
    }

    private async Task CreateEventAsync()
    {
        var newEventOrganizer = ((CustomAuthenticationStateProvider) auth).GetAuthenticationStateAsync().Result.User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name))?.Value;
        if (newEventOrganizer != null) newEvent.Organizer = newEventOrganizer;
        
        newEvent.StartTime = newEvent.Date.Add(newEvent.Start.TimeOfDay);
        newEvent.EndTime = newEvent.Date.Add(newEvent.End.Value.TimeOfDay);
        await eventService.CreateEvent(newEvent);
        await jsRuntime.InvokeVoidAsync("alert", "Successfully created an event");
        navigationManager.NavigateTo("MyEvents");
    }

}