@page "/GameInfo/{Id:int}"
@using Presentation_Layer.Models
@using Presentation_Layer.Data

@inject NavigationManager NavigationManager
@inject IGameService gameService

<h3>Game information</h3>
<p>Name: @game.Name</p>
<p>Complezity: @game.Complexity</p>
<p>Playing time: @game.TimeEstimation</p>
<p>Player amount: @game.MinNumberOfPlayers - @game.MaxNumberOfPlayers</p>
@if (game.ShortDescription != null)
{
    <p>Short Description: @game.ShortDescription</p>
}
@if (game.NeededEquipment != null)
{
    <p>Needed equipment: @game</p>
}
@if (game.MaxAge != null && game.MaxAge != null)
{
    <p>Age range: @game.MinAge - @game.MaxAge</p>
}
@if (game.Tutorial != null)
{
    <p href="@game.Tutorial">Turtorial: @game.Tutorial</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Game game = new();
    
    protected override async Task OnInitializedAsync()
    {
        game = await gameService.GetGameAsync(Id);
    }
}