@page "/GameInfo/{Id:int}"
@using Presentation_Layer.Models
@using Presentation_Layer.Data

@inject NavigationManager NavigationManager
@inject IGameService gameService

<h3>@game.Name</h3>
<p>Complexity: @game.Complexity</p>
<p>Playing time: @game.TimeEstimation</p>
<p>Player amount: @game.MinNumberOfPlayers - @game.MaxNumberOfPlayers</p>
@if (game.ShortDescription != null)
{
    <p>Short Description: @game.ShortDescription</p>
}
@if (game.NeededEquipment != null)
{
    <p>Needed equipment: @game.NeededEquipment</p>
}
@if (game.MaxAge != null && game.MaxAge != 0)
{
    <p>Age range: @game.MinAge - @game.MaxAge</p>
}
else
{
    <p>Age range: @game.MinAge+</p>
}
@if (game.Tutorial != null)
{
    <p><a href="@game.Tutorial">Turtorial: @game.Tutorial</a></p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Game game = new();
    
    protected override async Task OnInitializedAsync()
    {
        game = await gameService.GetGameAsync(Id);
    }
}