@page "/PaymentOverview"
@using Presentation_Layer.Models
@using Presentation_Layer.Authentication
@using System.Security.Claims
@using Presentation_Layer.Data

@inject AuthenticationStateProvider StateProvider
@inject IPaymentService PaymentService
@inject NavigationManager NavigationManager


<h3>Payment</h3>

<h2>Subscription: </h2>
@if (monthlyFee!= null && monthlyFee.EndDate.CompareTo(DateTime.Today) > 0)
{
    <p>Active until: @monthlyFee.EndDate.ToLongDateString()</p>
    <button class="btn btn-outline-primary" type="submit" @onclick="@Subscribe">Subscribe Now!</button>
}
else
{
    <p>No active subscription</p>
    <button class="btn btn-outline-success" type="submit" @onclick="@Subscribe">Subscribe Now!</button>

}

<h3>Payment History</h3>
@if (monthlyFeeList != null)
{
    <h4>Subscriptions</h4>
         @foreach (var item in monthlyFeeList)
         {
             <ul>
                 <li>@item.Amount dkk</li>
                 <li>From: @item.StartDate.ToLongDateString()</li>
                 <li>To: @item.EndDate.ToLongDateString()</li>
             </ul>
         }
}
else 
{<p>No monthly fees</p>}

@if (oneTimeFees != null)
{
    <h4>Payments</h4>
            @foreach (var item in oneTimeFees)
            {
                <ul>
                    <li>@item.Amount dkk</li>
                </ul>
            }
}
else 
{<p>No one time fees</p>}


@code {
    private MonthlyFee monthlyFee = new MonthlyFee();
    private IList<MonthlyFee> monthlyFeeList = new List<MonthlyFee>();
    private IList<OneTimeFee> oneTimeFees = new List<OneTimeFee>();
    private string username;
    private string errorMessage;
    private bool pay;
    private UserCardInfo userCardInfo;
    
    protected override async Task OnInitializedAsync()
    {
        username = ((CustomAuthenticationStateProvider) StateProvider).GetAuthenticationStateAsync().Result.User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name))?.Value;
        monthlyFeeList = await PaymentService.GetSubscriptionList(username);
        oneTimeFees = await PaymentService.GetOneTimePaymentList(username);
        monthlyFee = await PaymentService.GetSubscription(username);
    }

    private async Task Subscribe()
    {
        NavigationManager.NavigateTo("Payment");
    }
    
}